    <mat-card>
    <div class="grid2x2">
        <div class="box box1 ">
            <div class="boxin">
                <a class="btn btn-primary" href="edit" role="button"> EDIT PROFILE </a>
            </div>
        </div>     
        <div class="box box2 ">
            <div class="boxin">
                <a class="btn btn-warning" href="" role="button">NOTE</a>
            </div>
        </div> 
        <div class="box box3 ">
            <div class="boxin">
                <a class="btn btn-success" href="" role="button">???</a>
            </div>
        </div> 
        <div class="box box4 ">
            <div class="boxin">
                <a class="btn btn-danger" href="" role="button">DELETE USER</a>
            </div>
        </div> 
    </div>
</mat-card>