<mat-drawer-container class="example-container" [hasBackdrop]="False">
  <mat-drawer #drawer mode="side" >
    <mat-card id="menu">
      <a href="/settings"> 
        <button mat-stroked-button color="primary"
          class="popupButton">
              Username
        </button>
    </a>
    </mat-card>
    <mat-card id="lista">
      <mat-list role="list">
        <mat-list-item> <a href="/add" id="aListItem"><button mat-raised-button color="primary"  id="buttonListItem">Add<mat-icon>add</mat-icon></button></a> </mat-list-item>
        <mat-list-item> <a href="/list" id="aListItem"><button mat-raised-button color="primary" id="buttonListItem">List<mat-icon>view_list</mat-icon></button></a> </mat-list-item>
        <mat-list-item> <a href="/workers" id="aListItem"><button mat-raised-button color="primary" id="buttonListItem">Workers<mat-icon>view_list</mat-icon></button></a> </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-drawer>
  
  <mat-drawer-content >
    <mat-card id="topbar">
      <button mat-raised-button color="primary" (click)="drawer.toggle()" id="collapseExpandButton"><mat-icon>more_vert</mat-icon></button>
      <a href="/"><button mat-button>DevFind.it</button></a> 
      <a href="/login" ><button mat-raised-button color="primary" id="login">Login</button></a>
    </mat-card>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
