<mat-drawer-container class="example-container" [hasBackdrop]="False">
  <mat-drawer #drawer mode="side" >
    <mat-card id="menu">
    <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Worker</a></li>
        <li class="tab"><a href="#login">Company</a></li>
      </ul>
    </div> 
    <button mat-stroked-button color="primary"
        (click)="toggleCollapted()"
        matTooltip="User menu"
        matTooltipPosition="right"
        matTooltipClass="popup"
        class="popupButton">
            Wuja222
    </button>

        <div *ngIf="!isCollapted">
          <div id="expand">
            <a href="/login" ><button mat-raised-button color="primary" id="login">Login</button></a>
            <a href="/settings"> <mat-icon matBadge="15" matBadgeColor="warn">email</mat-icon></a>
            <a href="/settings"> <mat-icon>settings_applications</mat-icon></a>
          </div>
        </div>

    </mat-card>
    <mat-card id="lista">
      <mat-list role="list">
        <mat-list-item> <a href="/add" id="aListItem"><button mat-raised-button color="primary"  id="buttonListItem">Add<mat-icon>add</mat-icon></button></a> </mat-list-item>
        <mat-list-item> <a href="/list" id="aListItem"><button mat-raised-button color="primary" id="buttonListItem">List<mat-icon>view_list</mat-icon></button></a> </mat-list-item>
        <mat-list-item> <a href="/workers" id="aListItem"><button mat-raised-button color="primary" id="buttonListItem">Workers<mat-icon>view_list</mat-icon></button></a> </mat-list-item>
      </mat-list>
    </mat-card>
  </mat-drawer>
  
  <mat-drawer-content >
    <mat-card id="topbar">
      <button mat-raised-button color="primary" (click)="drawer.toggle()" id="collapseExpandButton"><mat-icon>more_vert</mat-icon></button>
      <a href="/"><button mat-button>DevFind.it</button></a> 
    </mat-card>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
